/* ===== VARIABLES =====*/

// Text Colours

$primaryColourText: rgb(129, 129, 129);
$secondaryColourText: rgb(22, 22, 22);
$highlightColour: rgb(255, 255, 255);
$accentColour0: rgb(98, 98, 100);
$accentColour1: rgb(88, 219, 197);
$accentColour2: rgb(38, 198, 251);
$accentColour3: rgb(254, 23, 98);
$accentColour4: rgb(184, 214, 68);

// Background Colours

$primaryColourBg: rgb(22, 22, 22);
$secondaryColourBg:rgb(249, 252, 252);
$thirdColourBg: rgb(59, 59, 61);
$fourthColourBg: rgba(0,0,0,.8);
$overlayColour: rgba(0,0,0,.5);
$overlayColour1: rgba(88, 219, 197,.5);
$overlayColour2: rgba(255, 255, 255, .3);

// Font Style

$primaryFont: 'Raleway', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;
